site_name: Galarzaa's Blog
site_description: Personal blog about my hobbies, projects and rants.
site_author: Allan Galarza
site_url: https://blog.galarzaa.com

repo_name: GitHub
repo_url: https://github.com/Galarzaa90/blog.galarzaa.com
edit_uri: edit/main/docs/

theme:
  name: material
  custom_dir: overrides
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: orange
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  features:
    - navigation.tracking
    - content.code.copy
    - content.action.view
    - content.action.edit
    - content.tooltips
    - navigation.footer
    - navigation.instant
    - navigation.tabs
    - search.highlight
    - search.suggest
    - search.share
    - toc.follow
  icon:
    repo: fontawesome/brands/github

plugins:
  - blog:
     blog_dir: .
  - meta
  - git-committers:
      repository: Galarzaa90/blog.galarzaa.com
      branch: main
  - search
  - social:
      enabled: !ENV [CI, false]
  - rss:
      match_path: posts/.* 
      date_from_meta:
        as_creation: date
      categories:
        - categories
        - tags
  - tags


markdown_extensions:
  - abbr
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - toc:
      permalink: true
  - admonition
  - codehilite
  - pymdownx.blocks.caption
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true 
  - md_in_html

extra:
  social:
    - icon: fontawesome/solid/globe
      link: https://galarzaa.com
    - icon: fontawesome/brands/github
      link: https://github.com/Galarzaa90
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/galarzaa/
    - icon: fontawesome/brands/threads
      link: https://threads.com/@galarzaa90

nav:
  - Home: index.md